.home-section__logo {
    display: block;
    margin: auto;
    margin-top: clamp(20px, 5vw, 67px);
    width: clamp(30px, 8vw, 100%);
    height: auto;
    z-index: 2;
}

.menu__item:first-child .menu__link {
    color: #FF9CA1;
}

.home-section__hotel-name {
    color: #EBFD46;
}

.home-section__hotel-name,
h2 {
    text-align: center;
}

.why-section h1 {
    margin-top: clamp(100px, 40vw, 500px);
}

.why-section h1,
.why-section__cards {
    padding-right: 20px;
    padding-left: 20px;
}

.why-section__cards,
.apartments-section__cards {
    margin: 0 auto;
    margin-top: clamp(30px, 8vw, 80px);
    display: flex;
    max-width: 1230px;
}

.apartments-section__cards {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-between;
}

.why-section__card {
    background-color: #FF9CA1;
}

.why-section__card,
.apartments-section__card {
    border-radius: 20px;
    margin-right: 28px;
}

@media (max-width: 992px) {
    .why-section__cards {
        flex-direction: column;
    }

    .why-section__card {
        margin-right: 0;
        margin-top: clamp(15px, 3.5vw, 28px);
    }

    .why-section__card:first-child {
        margin-top: 0;
    }

    .why-section h1 {
        margin-top: clamp(50px, 25vw, 400px);
    }
}

.why-section__card:last-child,
.apartments-section__card:last-child {
    margin-right: 0;
}

.why-section__card h3 {
    padding: 0 18px;
    margin: 0;
    margin-top: clamp(15px, 3vw, 31px);
    margin-bottom: clamp(15px, 3vw, 31px);
}

.why-section__card h2 {
    margin-top: clamp(18px, 4vw, 40px);
    padding: 0 18px;
    text-align: left;
}

.apartments-section__cards {
    padding-right: 20px;
    padding-left: 20px;
}

.apartments-section h1,
.gallery-section h1 {
    margin-top: clamp(70px, 15vw, 140px);
    padding-right: 20px;
    padding-left: 20px;
}

.apartments-section h2 {
    color: #FF9CA1;
    margin-top: clamp(15px, 3vw, 31px);
    margin-bottom: clamp(15px, 3vw, 31px);
    text-align: left;
}

.apartments-section h3 {
    color: #4BB462;
    margin-top: clamp(15px, 3vw, 31px);
    margin-bottom: clamp(15px, 3vw, 31px);
}

@media (max-width: 576px) {
    .apartments-section__card__image {
        width: clamp(280px, 67vw, 385px);
    }

    .home-section__content div {
        display: flex;
        margin-top: clamp(20px, 8.5vw, 50px);
        justify-content: center;
    }

    .home-section__logo {
        margin: 0;
        margin-right: 20px;
    }

    .home-section__content div h2 {
        margin: auto 0;
    }

    .why-section h1 {
        margin-top: clamp(50px, 24vw, 145px);
    }
}

.gallery-section__photos {
    padding: 0 20px;
    max-width: 1230px;
    margin: 0 auto;
    margin-top: clamp(30px, 8vw, 80px);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: space-between;
}

.gallery-section__photos__photo {
    margin-right: 28px;
    width: clamp(280px, 67vw, 385px);
}

.gallery-section__photos__photo:last-child {
    margin-right: 0;
}

.button a {
    color: #FF9CA1;
}

.button:hover a{
    color: #FFFFFF;   
}

.green-section__text a {
    color: #FFFFFF;
}